{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Number Range</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Start Number</th>
            <td>{{ object.start_number }}</td>
          </tr>
          <tr>
            <th scope="row">End Number</th>
            <td>{{ object.end_number }}</td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h5 class="card-header">Utilization</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Total Numbers</th>
            <td>{{ object.total_numbers }}</td>
          </tr>
          <tr>
            <th scope="row">Assigned</th>
            <td>{{ object.assigned_count }}</td>
          </tr>
          <tr>
            <th scope="row">Available</th>
            <td>{{ object.available_count }}</td>
          </tr>
          <tr>
            <th scope="row">Reserved</th>
            <td>{{ object.reserved_count }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Assignment</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Carrier</th>
            <td>
              {% if object.carrier %}
                <a href="{{ object.carrier.get_absolute_url }}">{{ object.carrier }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Site</th>
            <td>
              {% if object.site %}
                <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Tenant</th>
            <td>
              {% if object.tenant %}
                <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
