{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Resource Account</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Display Name</th>
            <td>{{ object.display_name }}</td>
          </tr>
          <tr>
            <th scope="row">User Principal Name</th>
            <td>{{ object.user_principal_name }}</td>
          </tr>
          <tr>
            <th scope="row">Object ID</th>
            <td>{{ object.object_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Type</th>
            <td>{% badge object.get_resource_account_type_display bg_color=object.get_resource_account_type_color %}</td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h5 class="card-header">External References</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">External ID</th>
            <td>{{ object.external_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Sync Status</th>
            <td>
              {% if object.sync_status %}
                {% badge object.get_sync_status_display bg_color=object.get_sync_status_color %}
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Last Synced</th>
            <td>{{ object.last_synced|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Assignment</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Platform</th>
            <td>
              {% if object.platform %}
                <a href="{{ object.platform.get_absolute_url }}">{{ object.platform }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Site</th>
            <td>
              {% if object.site %}
                <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Tenant</th>
            <td>
              {% if object.tenant %}
                <a href="{{ object.tenant.get_absolute_url }}">{{ object.tenant }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td>
              {% if object.phone_number %}
                <a href="{{ object.phone_number.get_absolute_url }}">{{ object.phone_number }}</a>
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
